body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.task {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.border-1-dark {
  border: 1px solid #333;
  border-radius: 8px;
  max-width: 400px;
}

ul {
  display: block;
  padding-left: 0;
  margin: 0;
}
