body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.task-list .task {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.border .border-1 {
}
